@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: var(--Font);
}

:root {
  --White: hsl(0, 100%, 100%);
  --Main: hsl(254, 100%, 88%);

  --Outline-Thickness: 3px;
  --Outline-Colour: hsl(254, 80%, 10%);
  --Outline: var(--Outline-Thickness) solid var(--Outline-Colour);

  --Font: "Outfit", sans-serif;

  --Heading-1: bold 4rem/4rem var(--Font);
  --Heading-2: bold 3rem/4rem var(--Font);
  --Heading-3: bold 2rem/3rem var(--Font);
  --Heading-4: bold 1.5rem/2rem var(--Font);
  --Heading-5: bold 1rem/2rem var(--Font);
  --Heading-6: bold 0.75rem/2rem var(--Font);
}

body {
  overflow-x: hidden;
}

h1 {
  font: var(--Heading-1);
}
h2 {
  font: var(--Heading-2);
}
h3 {
  font: var(--Heading-3);
}
h4 {
  font: var(--Heading-4);
}
h5 {
  font: var(--Heading-5);
}
h6 {
  font: var(--Heading-6);
}


.Outline {
  border: var(--Outline);
}

.Column {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.Column button {
  align-self: center;
  width: max-content;
}
.Column button.W100 {
  width: 100%;
}

.Center {
  text-align: center;
}

button {
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: var(--Outline);
  background: var(--Main);
}
button.White {
  background: var(--White);
}

input[type="checkbox"] {
  appearance: none;
  width: 2rem;
  position: relative;
  aspect-ratio: 1 / 1;
  border: var(--Outline);
  border-radius: 0.5rem;
}
input[type="checkbox"]:checked {
  background: var(--Main);
}
/* input[type="checkbox"]::before {
  content: "s";
  position: absolute;
} */



.Top-Bar {
  width: 100%;
  padding: 1.5rem;
  position: fixed;
  top: 0; text-align: center;
  background: var(--White);
  border-bottom: var(--Outline);
}


.Main {
  margin-left: 2rem;
  margin-top: 8rem;
}



.Tasks {
  width: 90%;
  gap: 1rem;
  align-self: center;
  border-radius: 2rem;
  /* border: var(--Outline); */
}
.Tasks .Task {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 1.25rem;
  padding: 1.5rem 2rem;
  border: var(--Outline);
}
